html {
  scroll-behavior: cmooth;
}
body {
  margin: 0;
  padding: 2rem;
  font-family: 'Roboto';
  min-height: 100vh;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  background-color: rgb(238, 231, 218);
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: rgb(45, 40, 50);
  font-size: 20px;
  transition: 0.3s;
}
.nav-link:hover {
  color: rgb(216, 20, 33);
  text-decoration: underline;
}
.main {
  margin: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 50px 5px rgb(167, 162, 162);
  padding: 2rem;
  max-width: 1024px;
}
.section {
  width: 50%;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.avatar {
  width: 350px;
  height: 350px;
  border-radius: 100%;
}
.icon-git {
  width: 60px;
  height: 60px;
}
.rs-logo {
  width: 120px;
  height: 60px;
}
.footer {
  display: flex;
  justify-content: space-around;
}